name: CI

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      runSecondary:
        description: 'Run secondary jobs?'
        required: true
        default: 'no'

env:
  MAVEN_OPTS: -Djansi.passthrough=true -XX:TieredStopAtLevel=1
  MVN_DEFAULT_ARGS: -e -B -Dstyle.color=always

jobs:
  primary:
    name: JDK 11 & Maven 3.6.3
    # workaround: there doesn't seem to be an expression for the job name (for non-matrix)
    env:
      JOB_NAME: JDK 11 & Maven 3.6.3

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 11
    #  work around https://github.com/actions/virtual-environments/issues/2534
    - name: Unset M2_HOME
      uses: allenevans/set-env@v2.0.1
      with:
        M2_HOME: ''
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4
      with:
        maven-version: 3.6.3
    - name: Cache Maven Repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set quickly if on fork master
      if: github.repository != 'gitflow-incremental-builder/gitflow-incremental-builder' && endsWith(github.ref, '/master') && github.event.inputs.runSecondary != 'yes'
      shell: bash
      run: echo "MVN_DEFAULT_ARGS=${MVN_DEFAULT_ARGS} -Dquickly" >> $GITHUB_ENV
    - name: Maven test
      shell: bash
      # note: ssh-agent for DifferentFilesSshFetchTest must be started in same step as mvn for env vars to be picked up
      # also: https://github.com/webfactory/ssh-agent doesn't work because it requires at least one key
      run: |
        eval $(ssh-agent)
        mvn test ${MVN_DEFAULT_ARGS}
    - name: Print coverage
      if: always()
      shell: bash
      run: |
        if [ -f target/site/jacoco/index.html ]; then
          sudo apt-get install lynx -y -qq > /dev/null || true
          lynx -width=120 -dump target/site/jacoco/index.html || true
        fi
    - name: Maven verify
      shell: bash
      run: mvn verify -DskipUTs ${MVN_DEFAULT_ARGS}
    - name: Build test reports archive on failure
      if: failure()
      shell: bash
      run: find target -name '*-reports' -type d -prune | tar -czf 'test-reports-${{ env.JOB_NAME }}.tgz' -T -
    - name: Upload test reports archive on failure
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test-reports-${{ env.JOB_NAME }}
        path: test-reports-${{ env.JOB_NAME }}.tgz
        if-no-files-found: ignore
        retention-days: 30
    - name: Tar Maven Repo for secondary jobs
      # secondary jobs are not run in forks, so no use to create the repo
      if: github.repository == 'gitflow-incremental-builder/gitflow-incremental-builder' || github.event.inputs.runSecondary == 'yes'
      shell: bash
      run: tar -I 'pigz -9' -cf maven-repo.tgz -C ~ .m2/repository
    - name: Upload Maven Repo for secondary jobs
      uses: actions/upload-artifact@v2
      # secondary jobs are not run in forks, so no use to upload the repo
      if: github.repository == 'gitflow-incremental-builder/gitflow-incremental-builder' || github.event.inputs.runSecondary == 'yes'
      with:
        name: maven-repo
        path: maven-repo.tgz
        retention-days: 1

  secondary:
    name: ${{ matrix.java-maven.name }}

    # don't run the secondary jobs in forks
    if: github.repository == 'gitflow-incremental-builder/gitflow-incremental-builder' || github.event.inputs.runSecondary == 'yes'

    runs-on: ubuntu-latest

    needs: primary

    strategy:
      fail-fast: false
      matrix:
        java-maven:
          - {
            name: "JDK 11 & Maven 3.5.4",
            java-version: 11,
            maven-version: 3.5.4
          }
          - {
            name: "JDK 11 & Maven 3.3.9",
            java-version: 11,
            maven-version: 3.3.9
          }
          - {
            name: "JDK 8 & Maven 3.6.3",
            java-version: 8,
            maven-version: 3.6.3
          }
          - {
            name: "JDK 8 & Maven 3.5.4",
            java-version: 8,
            maven-version: 3.5.4
          }
          - {
            name: "JDK 8 & Maven 3.3.9",
            java-version: 8,
            maven-version: 3.3.9
          }
          - {
            name: "JDK 15 & Maven 3.6.3",
            java-version: 15,
            maven-version: 3.6.3
          }

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-maven.java-version }}
    #  work around https://github.com/actions/virtual-environments/issues/2534
    - name: Unset M2_HOME
      uses: allenevans/set-env@v2.0.1
      with:
        M2_HOME:
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4
      with:
        maven-version: ${{ matrix.java-maven.maven-version }}
    - name: Print Java & Maven version
      shell: bash
      run: mvn --version
    - name: Download Maven Repo
      uses: actions/download-artifact@v2
      with:
        name: maven-repo
        path: .
    - name: Extract Maven Repo
      shell: bash
      run: tar -xzf maven-repo.tgz -C ~
    - name: Maven test
      shell: bash
      # see primary job notes regarding ssh-agent
      run: |
        eval $(ssh-agent)
        mvn test -Djacoco.skip ${MVN_DEFAULT_ARGS}
    - name: Maven verify
      shell: bash
      run: mvn verify -DskipUTs ${MVN_DEFAULT_ARGS}
    - name: Build test reports archive on failure
      if: failure()
      shell: bash
      run: find target -name '*-reports' -type d -prune | tar -czf test-reports.tgz -T -
    - name: Upload test reports archive on failure
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test-reports-${{ matrix.java-maven.name }}
        path: 'test-reports.tgz'
        if-no-files-found: ignore
